a {
    text-decoration: none;
}
a:link {
    color:green;
}
a:visited {
    color: red;
}
a:hover {
    color:purple;
    text-decoration: underline;
    background-color: cyan;
}
a:active {
    color:rgb(248, 13, 178)
}