table {
    border-width: 1px;
    border-style: solid;
    border-color: blueviolet;
    border-spacing: 2px;
}
table tr {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(99, 219, 19);
}
table tr th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(12, 186, 230)
}
table tr td {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 12, 221)
}
