#geral {
    position: absolute;
    background-color: aquamarine;
    width: 400px;
    height: 200px;
    color: blueviolet;
}
#coluna01 {
    width: 100%;
    height: 30%;
}
#coluna02 {
    width: 100%;
    height: 30%;
}
#coluna03 {
    width: 100%;
    height: 30%;
}